<table class="cal-table cal-table-year cal-table-year-sm">
  <tr>
    <td ng-click="viewMonth(1)">Jan</td>
    <td ng-click="viewMonth(2)">Feb</td>
    <td ng-click="viewMonth(3)">Mar</td>
  </tr>
  <tr>
    <td ng-click="viewMonth(4)">Apr</td>
    <td ng-click="viewMonth(5)">May</td>
    <td ng-click="viewMonth(6)">Jun</td>
  </tr>
  <tr>
    <td ng-click="viewMonth(7)">Jul</td>
    <td ng-click="viewMonth(8)">Aug</td>
    <td ng-click="viewMonth(9)">Sep</td>
  </tr>
  <tr>
    <td ng-click="viewMonth(10)">Oct</td>
    <td ng-click="viewMonth(11)">Nov</td>
    <td ng-click="viewMonth(12)">Dec</td>
  </tr>
</table>