<table class="cal-table cal-table-year cal-table-year-lg">
  <tr>
    <td ng-click="viewMonth(1)">January</td>
    <td ng-click="viewMonth(2)">February</td>
    <td ng-click="viewMonth(3)">March</td>
    <td ng-click="viewMonth(4)">April</td>
  </tr>
  <tr>
    <td ng-click="viewMonth(5)">May</td>
    <td ng-click="viewMonth(6)">June</td>
    <td ng-click="viewMonth(7)">July</td>
    <td ng-click="viewMonth(8)">August</td>
  </tr>
  <tr>
    <td ng-click="viewMonth(9)">September</td>
    <td ng-click="viewMonth(10)">October</td>
    <td ng-click="viewMonth(11)">November</td>
    <td ng-click="viewMonth(12)">December</td>
  </tr>
</table>